<div class="card" style="width = 300px">
    <img class="card-img-top" src="~/Assets/assets/img/about-bg.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">About Me!</h5>
        <p class="card-text">Just me, myself and I, exploring the universe of unknownment. I have a heart of love and a interest.</p>
    </div>
</div>
