@using Blogs.CustomeHelper
@model IEnumerable<Blogs.EF.Tag>


@foreach (var item in Model) {
    @*<a class="btn btn-primary text-uppercase" href="#!">
        @Html.DisplayFor(modelItem => item.Name)
    </a>*@
    @Html.TagLink(item.Name)
    @*<td>
        @Html.DisplayFor(modelItem => item.Count)
    </td>*@
}

